<a href="https://colab.research.google.com/github/vikram-godara/python_class_collab/blob/main/Unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#declartion of variable

In [ ]:
a=10
print("value of a is",a)

value of a is 10

1. multiple assignment in variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

multiple assignment with same value

In [ ]:
a=b=c=100
print(a,b,c)

100 100 100

Rules for nameing variable

1.   variable names can only contain letters digit and underscore(-)
2.   variable name canot be  startwith a digit
3.   variable name are cnase senstive
4.   avoid using python keywords using if else,for,class,while

In [ ]:
a=10
classs =10 #not use class variable
user_name = "vikram"
# 1_name= "error"
print (a,classs,user_name)
#print(1_name) # not use use to print

10 10 vikram

Type casting

1.hulk sternth level is recorded as s string input 1000 convert into an integer and increase it by 200

In [ ]:
hulk_Score = "1000"
hilk_int_s = int(hulk_Score)
print(hilk_int_s)
print(hilk_int_s+200)

1000
1200

thor's hammer mass is 5000  in int ,but you need to claculate the gartitationl force ,which require it as a float

loki gets input in seconds (as as tring ) 3600 and convert it into an integer and then to hours and show final result as a float

In [ ]:
s= "3600"
h =int(s)
h= h/3600
result = float(h)
print(result)

1.0

Iron man recorded 7 hits out of 10 slots (bot int) .convet in into float and calculate accuracy percentage

In [ ]:
hits = 7
slots = 10

accuracy = float(hits) / float(slots) * 100

print(f"Iron Man's accuracy: {accuracy:.2f}%")

# String Datatype

1. Array of bytes representing univode characters
2. no seperate  character data type ; a character is a string of length one.
3.  string can be created using ' ', " ",or """ """.
4. Access individual character using indexing starting at 0.
5. strings are immutable.
6. str().

In [ ]:
s1 = "this is also a string"
print(s1)
len(s1)

this is also a string

21

In [ ]:
s2 = "this "+"is "+"also "+"a " +"string"
print(s2)
len(s2)

this is also a string

21

In [ ]:
s3 = "This is  a string  \
written across multiple lines"
print(s3)

This is  a string  written across multiple lines

In [ ]:
#multiple string with an integer to get a repative effect
Iron_man = "Samsh.it\n"
print(Iron_man*10)

Samsh_it
Samsh_it
Samsh_it
Samsh_it
Samsh_it
Samsh_it
Samsh_it
Samsh_it
Samsh_it
Samsh_it

In [ ]:
Iron_man = "Hello world # This is a comment "
print(Iron_man)

Hello world # This is a comment

In [ ]:
Iron_man = "Hello"+'world'+""" Hi Vikram"""
print(Iron_man)

Helloworld Hi Vikram

In [ ]:
# index 0 is same as -0
Avenger = "IRONMAN"
length = len(Avenger)
frist_ch=Avenger[0]
print(frist_ch)

I

In [ ]:
#negative index
last_ch = Avenger[-1]
print(last_ch)

N

In [ ]:
#slicing

slicing = Avenger[1:5]
print(slicing)

RONM

In [ ]:
slicing =Avenger[1:4:2]
print(slicing)

RN

In [ ]:
slicing =Avenger[::-1]
print(slicing)

NAMNORI

In [ ]:
slicing =Avenger[2:5:-2]
print(slicing)
# not output ,its blank

In [ ]:
Avenger[0]="B"
print(Avenger)

TypeError: 'str' object does not support item assignment

In [ ]:
for ch in Avenger:
  print(ch,end="*")

I*R*O*N*M*A*N*

In [ ]:
for ch in Avenger:
  print(ch)

I
R
O
N
M
A
N

In [ ]:
for i in range(len(Avenger)):
    print(i,Avenger[i])

0 I
1 R
2 O
3 N
4 M
5 A
6 N

In [ ]:

length = len(Avenger)

for i in range(Avenger):
  print(length-i,Avenger[length-i])

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
for index, char in enumerate(reversed(Avenger)):
    print(len(Avenger) - 1 - index, char)

6 N
5 A
4 M
3 N
2 O
1 R
0 I

In [ ]:
#to check a string palindrome or not
word ="abaaba"
palindrome=word[::-1]
if word==palindrome:
  print(palindrome)
else:
  print("not a palindrome")

abaaba

In [ ]:
word = "racecar"
if word == word[::-1]:
  print(f"'{word}' is a palindrome.")
else:
  print(f"'{word}' is not a palindrome.")

word = "python"
if word == word[::-1]:
  print(f"'{word}' is a palindrome.")
else:
  print(f"'{word}' is not a palindrome.")

'racecar' is a palindrome.
'python' is not a palindrome.

ASCII value  7 bits  0-127
A-65 -- Z-90

a-97 --z-122

o-null #-35

In early 90's a standard was publiced called american standard code for information interchange.

its specify the mapping of binary value of characters ,it uses seven bit to represent the character (0-127) range a(97) to z(122)


the ascii character set is limited ist that it can't handle character from another languages,
therefore , unicode standard are purposed python3 uses unicode bt default (UTF-8) it define more than one lakh character the prefix used to print the character in

> Add blockquote

In [ ]:
space ="\u03C0"
print(space)

π

\t is used for horizontal tab (9)
\a is alert ,beep(7)
\b backspace(8)
\n newline (10)
\v vertical tab (11)
\f newpage(12)
\r carriage return (13)
\0 is null or string terminator (0)

In [ ]:
print("Iron man\nCaption America")

Iron man
Caption America

In [ ]:
print("Hulk\tThor")

Hulk	Thor

In [ ]:
print("Black window\'s Misson")

Black window's Misson

In [ ]:
print("C:\\vikram")
print("C:\vikram")

C:\vikram
C:ikram

In [ ]:
print("Smash\a")
#\a its terminal  depen and supported terminal sounds BaseException

Smash

In [ ]:
print("vikram\b")
# its backspace m from vikram
print("Neeraj\f")
print("vision\r")

vikram
Neeraj
vision

In [ ]:
#.lower() ,.upper() is used to lower or upperor captiallize the ch in given string these method for normaliztion to ensure the consistant case for embedding in NLP
x="VIKRAM"
y="vikram"
z="VnBNsaD"
print(x.lower())
print(y.upper())
print(z.lower())
print(z.upper())
print(z.capitalize())
print(z.title())

vikram
VIKRAM
vnbnsad
VNBNSAD
Vnbnsad
Vnbnsad

#Strip method

strip method its design to remove leading,white spaces char or specfic char from string it does not remove from middile of string.

its alternative methond for middle is alternative( replace two character )

Application
1.cleaning the Data.
2.replace null value with any characters
3. correcting the text(ex .tyops/Slang)

In [ ]:
#strip method
k="@Vikram"
print(k.strip("@")) #its deletd the character from string  (if start in front or end palce) its work when pass the parametr in strip(character) to remove anything like @,space

k="Vik ram"
print(k.strip("@"))
print(k.replace(" ", "")) #its delete from middle

Vikram
Vik ram
Vikram

#split methos

In [ ]:
x="This movie is amazing . I Like This Movie"
print(x.split()) # use to make tokeniztion that method involve split into list of words and as a space as a delimeterr .this delimeter automatically handles multiple space between words.
tokons=x.split()
print(" ".join(tokons))#join mehod is jion the word back  together without any spaces.

['This', 'movie', 'is', 'amazing', '.', 'I', 'Like', 'This', 'Movie']
This movie is amazing . I Like This Movie

In [ ]:
txt = "This is a python class"
print(txt.find("python")) #its count first char only
txt = "This is a python python class"
print(txt.find("python"))
print(txt.find("python",9,25))
print(txt.index("python"))
#print(txt.index("python"1)) its show error show

print(txt.count("python"))
txt = "This is a python class"
print(txt.find("python1")) # return -1 ,

10
10
10
10
2
-1

In [ ]:
x="5800"
print(x.isdigit())
x="\u00B2"
print(x)
print(x.isdigit())

True
²
True

In [ ]:
txt = "This is a python python class"
print(txt.startswith(" is ",4))
print(txt.startswith(" is ",4,12))
print(txt.endswith('class'))
print(txt.endswith(("class","python")))

True
True
True
True

In [ ]:
Avenger="IRONMAN,THOR,HULX"
print("THOR" in Avenger)

print("VIKRAM" not in Avenger)

if "THOR" in Avenger:
  print("thor is here")

if "IRONMAN"

True
True
thor is here

lOKI tried to trick Avengers check if loki is in it .
if yes he is not thor real brother of thor

In [ ]:
Avenger="IRONMAN,THOR,HULX"
if "Loki" in Avenger:
  print("thor is here")
else:
  print("thor is not here")

thor is not here

we define the uses of capitals in a world to be right .
then one of the following case holds;
1. all the letters in word are captial like USA.
2. all the letters in word are not in captial like leetcode.
3. only fist letter is captial like Google.

give string word return true ,if uses of captial is in the right.

In [ ]:
string="USA"
upcase=string.upper()
if string==upcase:
  print(True)
else:
  print(False)


string="leetcode"
lowcase=string.lower()
if string==lowcase:
  print(True)
else:
  print(False)
string="Leetcode"
capcase=string.capitalize()
if string==capcase:
  print(True)
else:
  print(False)


#better solution
x="USER"
if x.upper() or x.lower() or x.capitalize():
  print(True)
else:
  print(False)

True
True
True
True

make a list of word "how are you"

In [ ]:
word=["How","are","you"]
# print(word.strip(" ")) is dorectly not access the List ,use for loop

for i in word:
  print(i.strip(" "))

How
are
you

#Boolean

In [ ]:
print(type(True)) #T and F is captial
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print( 10>9 and 10>8)
print( 10>9 or  10>8)
#print( 10>9 not 10>8) this is not applicable not is binary op.

print( not 10>8)

True
True
False

In [ ]:
print( bool([])) #non -
print( bool(" "))

False
True

In [ ]:
#all() and any()
mark = [50,60]
print(all (m>=40 for m in mark))#for all
print(any (m>=90 for m in mark))# atleast any

True
False

In [ ]:
a,b = True,False;
print(a^b);
print(a^a);
# swap using XOR gate
a=10
b=20
print(a,b)

a=a^b
print("frist step",a,b)
b=a^b
print("second step",a,b)
a=a^b
print("third and final",a,b)

True
False
10 20
frist step 30 20
second step 30 10
third and final 20 10

In [ ]:
print(10>9>8)
print(10<9>8)

True
False

In [ ]:
n=21
print((n%3==0)^(n%7==0))  # 1^1 =false

False

1. is check the identity whereas == check the equality od value (content) both a and b are lists with same elememt,1,2,so python prints true
2. when you write a=[1,2] and b=[1,2] python create 2 diff. list object in memoery ,therefore output is false.
3. if you use small integer or strings sometimes a is b can be true because of python interning  (optimisation for performance)
4. in case of list dictonary sets python always creates a new object unless you explicitlt

In [ ]:
a=[1,2]
b=[1,2]
print(a==b)
print(a is b)
# 1.is check the identity whereas == check the equality od value (content) both a and b are lists with same elememt,1,2,so python prints true
# 2. when you write a=[1,2] and b=[1,2] python create 2 diff. list object in memoery ,therefore output is false
a=100
b=100
print(a is b)
s1,s2 = "hello","hello"
print(s1 is s2)

# if you use small integer or strings sometimes a is b can be true because of python interning  (optimisation for performance)
# in case of list dictonary sets python always creates a new object unless you explicitlt

True
False
True
True

is or equal ke que.
que.1
how can all() and any() make code shorter  compared to multiple conditions
que.2
write 5 boolean conditions using all or any from collage life.
application of xor

In [ ]:
a=10
b=2
print(a+b,a-b,a*b,a/b,a//b,a**b,a%b)
a=-10
print(a+b,a-b,a*b,a/b,a//b,a**b,a%b)
#try this all
print(-10//3)

12 8 20 5.0 5 100 0
-8 -12 -20 -5.0 -5 100 0
-4

note: float division round down ,not towards zero,
python always follow ,matematical float division ,not drunktion

Note: Integer division (using `//`) in Python rounds down towards negative infinity, not towards zero. This is different from some other programming languages.

For example:
- `10 // 3` is `3` (rounds down)
- `-10 // 3` is `-4` (rounds down to the next smaller integer)

Python's float division (using `/`) follows standard mathematical division.

In [ ]:
a=10
b=10
# +=,-=,*=,/=,//=,%=,**=,&= , |=, ^=,>>=,<<= this have lowest precedence order
#uses->
# 1. code optimization ,2.inplace updation ,3.efficient code

print()

In [ ]:
x=5
x*=2+3
# x=x*(2+3)
#ouput is 13 or 25 ? all
print(x)

25

In [ ]:
print(10==10.0)
print(10=="10")
print(3<4<5)
print(True==1 and False ==0)
#python inphasise the chain comparision
#boolean are subclass of integer

True
False
True
True

In [ ]:
print(True or False)
print(0 or 5)
print([] and "HI")

print([] or "HI")

True
5
[]
HI

In an `and` expression, the second operand is not evaluated if the first operand is false.

`A and B is not evalute b if a is false`

In [ ]:
# check identity not value
a=[1,2,3]
b=[1,2,3]
print(a==b)
print(a is b) # is check adddress ,so flase

In [ ]:
x=256
y=256
print(x is y)
x=257
y=257
print(x is y)  # -5 to 256  python give same address in memory allocation

True
False

#Membership Operator

In [ ]:
print("nana" in "banana")
l=[1,2,3]
print(3 in l)

True
True

#Bit Wise OP.

In [ ]:
a=10
print(~a) # ~ is a complemet in python
print(5 or 3,5^3,5 and 3,7>>3,5<<1)

-11
5 6 3 0 10

In [ ]:
l=[2,7,11,15]
print(9 in l)
print( any(m==9 for m in l))#for all
print( all(m==9 for m in l))#for all

False
False
False

In [ ]:
Avg=['Iron-man','hulk','thor']

#LIST

In [ ]:

infinity_stone=['space',"time","mind","reality","soul","power","power"]
print(infinity_stone[0])
print("soul" in infinity_stone)
print(infinity_stone[-1])

infinity_stone[0] = "god"
print(infinity_stone[0])

space
True
power
god

In [ ]:
loki=["Loki odinson",2020,True]
print(loki[-1])
print(type(loki[-1]))
length=len(loki)
print(length)

True
<class 'bool'>
3

In [ ]:
avg1=list(("iron-man","thor","hulk"))
print(avg1)
guad=list(("star","antman","hank"))

['iron-man', 'thor', 'hulk']

In [ ]:
#append the list
avg1=list(("iron-man","hulk"))
#avg1[0].append("thor")   #'str' object has no attribute 'append'

avg1.append("thor")
print(avg1)

avg1.insert(0,"Thor")
print(avg1)
guad=list(("star","antman","hank"))

#avg1.extend(guad)
print(guad)

['iron-man', 'hulk', 'thor']
['Thor', 'iron-man', 'hulk', 'thor']
['star', 'antman', 'hank']

In [ ]:
#tupples
#tup=("Ant-man","captain")
#avg1.extend(tup)
print(avg1)

['Thor', 'hulk', 'thor', 'star', 'antman', 'hank', 'A', 'n', 't', '-', 'm', 'a', 'n', 'A', 'n', 't', '-', 'm', 'a', 'n', 'Ant-man', 'captain']

In [ ]:
fruits=["apple","banana","mango"]
fruits.insert(0,"cherry")
print(fruits[0])

cherry

In [ ]:
avg1.pop(1)
print(avg1)

['Thor', 'hulk', 'thor', 'star', 'antman', 'hank', 'A', 'n', 't', '-', 'm', 'a', 'n', 'A', 'n', 't', '-', 'm', 'a', 'n', 'Ant-man', 'captain']

del() is fast than remove() ,del is acess index and delete

In [ ]:
list2=["thor","hulk"]
#list2.remove([1:3])
del list2[1:3]
print(list2)
list2=["thor","hulk"]
del list2[1]
print(list2)
list2=["thor","hulk"]
#del list2
#print(list2)
list2.clear() # clear list complete data but list make empty and store address
print(list2)

['thor']
['thor']
[]

In [ ]:
list2.append("thor")
list2.append("hulk")
list2.append("iron-man")
for i in list2:
  print(i)

thor
hulk
iron-man

In [ ]:
for i in range(len(list2)):
  print(list2[i])

thor
hulk
iron-man

In [ ]:
i=0
while i<len(list2):
  print(list2)
  i=i+1

['thor', 'hulk', 'iron-man']
['thor', 'hulk', 'iron-man']
['thor', 'hulk', 'iron-man']

In [ ]:
for x in list2:
  print(x)

thor
hulk
iron-man

#LOOP

In [2]:
hero=["Iron-man","hulk","captain America"]
for i in hero:
  print(i)
print("-----------------------------")
for i in range(len(hero)):
  print(i,hero[i])

Iron-man
hulk
captainAmerica
-----------------------------
0 Iron-man
1 hulk
2 captainAmerica

In [4]:
i=0
while(i<len(hero)):
  print(i,hero[i])
  i=i+1

0 Iron-man
1 hulk
2 captainAmerica

In [5]:
[print(i) for i in hero]

Iron-man
hulk
captainAmerica

[None, None, None]

Q1. you need out the filter out the name of avenger that contains sub string america.

In [11]:
hero=["Iron-man","hulk","captain America"]

new_list =[i for i in hero if "America" in i]
print(new_list)

['captain America']

replace hulk with calm-guy

In [20]:
for i in range(len(hero)):
  if hero[i]=="hulk":
    hero[i]="calm-guy"
print(hero)
hero=["Iron-man","hulk","captain America"]

#[i for i in hero if "hulk" in i i.replace("hulk","calm-guy")]
hero=["Iron-man","hulk","captain America"]

[x if x!="hulk" else "clam-guy" for  x in hero]

['Iron-man', 'calm-guy', 'captain America']

['Iron-man', 'clam-guy', 'captain America']

make the character in list upercase.

In [21]:
hero=["Iron-man","hulk","captain America"]
hero =[i.upper() for i in hero]
print(hero)

['IRON-MAN', 'HULK', 'CAPTAIN AMERICA']

In [25]:
[print(i,) for i in range(len(hero))]
print("---")
newlist= [i for i in range(len(hero))]
print(newlist)

0
1
2
---
[0, 1, 2]

In [26]:
#prime number find
i=0
for i in range(100):
   if i%i+1!=0:
    print(i)

ZeroDivisionError: integer modulo by zero

In [ ]:
prime_numbers = [i for i in range(2, 100) if all(i % j != 0 for j in range(2, int(i**0.5) + 1))]
print(prime_numbers)

In [27]:
[2**i for i in  range(20)]

[1,
 2,
 4,
 8,
 16,
 32,
 64,
 128,
 256,
 512,
 1024,
 2048,
 4096,
 8192,
 16384,
 32768,
 65536,
 131072,
 262144,
 524288]